#fourtwenty {
    display: flex;
    position: relative;
    width: 80%;
    margin: 20px auto;
    justify-content: center;
    background: url("../media/img/gmm.jpg");
    background-size: cover;
    padding: 40px 20px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  
  #fourtwenty p {
    margin: 0 6px;
    color: white;
    font-weight: 700;
  }
  
  #fourtwenty button {

    border: 0;
    border-radius: 10px;
    margin-left: 20px;
    font-weight: 600;
  }
  
  #fourtwenty span {
    font-weight: 900;
  }

  #p1 {
      font-size: 30px;
      font-weight: 900;
  }

  #fourtwenty #close-btn {
      color: white;
      font-weight: 900;
      background: lightcoral;
      border-radius: 20px;
      padding: 0 7px;
      position: absolute;
      right: 5px;
      top: 5px;
  }
  

  @media screen and (max-width:575px) {
      #fourtwenty {
          padding: 30px 10px 20px 0px;
          text-align: center
      }
      #fourtwenty button {
          margin: 0 20px;
      }
  }